{{template "base/header" .}}

<div class="empty">
    <div class="empty-header">500</div>
    <p class="empty-title">Oops… 遇到了一个错误</p>
    <p class="empty-subtitle text-muted">
        产生了一个内部错误， 非常抱歉。
    </p>
    <div class="empty-action">
        <a href="/" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                 stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <line x1="5" y1="12" x2="11" y2="18"></line>
                <line x1="5" y1="12" x2="11" y2="6"></line>
            </svg>
            回到主页
        </a>
    </div>
</div>

{{template "base/footer" .}}