.CodeMirror {
    font-family: "Source Code Pro", Consolas, monaco, monospace;
    letter-spacing: 0.025em;
    line-height: 1.25;
    font-size: 18px;
    height: auto !important;
    width: 100%;
    overflow-y: hidden !important;
    -webkit-overflow-scrolling: touch;
}

.CodeMirror-scroll {
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}
