{{template "base/header" .}}


<div class="page-header d-print-none">
    <div class="row align-items-center">
        <div class="col">
            <!-- Page pre-title -->
            <div class="page-pretitle">
                仪表盘
            </div>
            <h2 class="page-title">
                我的文档
            </h2>
        </div>
        <!-- Page title actions -->
        <div class="col-auto ml-auto d-print-none">
            <div class="btn-list">
                <form action="{{AppSubURL}}/doc/new" method="POST">
                    {{.CSRFTokenHTML}}
                    <button type="submit" class="btn btn-primary d-none d-sm-inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                             stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                             stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <line x1="12" y1="5" x2="12" y2="19"/>
                            <line x1="5" y1="12" x2="19" y2="12"/>
                        </svg>
                        新建共享文档
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row row-deck row-cards">
    <div class="col-8">
        <div class="row row-cards">
            {{ range .Docs}}
            <div class="card d-flex flex-column">
                <div class="row row-0 flex-fill">
                    <div class="card-body">
                        <h3 class="card-title"><a href="{{AppSubURL}}/{{.UID}}">
                            {{if eq .Title ""}}
                            Untitled
                            {{else}}
                            {{.Title}}
                            {{end}}
                        </a></h3>
                        <div class="d-flex align-items-center pt-4 mt-auto">
                            {{if .LastModifiedUser}}
                            <span class="avatar"
                                  style="background-image: url({{ .LastModifiedUser.Email | AvatarLink }})"></span>
                            <div class="ml-3">
                                <a href="#" class="text-body">{{.LastModifiedUser.Name}}</a>
                                <div class="text-muted">{{.UpdatedAt | DateFmtLong}}</div>
                            </div>
                            {{end}}
                            <div class="ml-auto">
                                <div class="text-muted text-right">{{ .Owner.Name }}</div>
                                <div class="text-muted text-right">{{.CreatedAt | DateFmtLong}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>
    <div class="col-auto ml-auto">

    </div>
</div>

{{template "base/footer" .}}