{{template "base/header" .}}

<div class="empty">
    <div class="empty-header">404</div>
    <p class="empty-title">Oops… 你访问了一个不存在的页面</p>
    <p class="empty-subtitle text-muted">
        非常抱歉，您访问的页面不存在。
    </p>
    <div class="empty-action">
        <a href="/" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                 stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <line x1="5" y1="12" x2="19" y2="12"/>
                <line x1="5" y1="12" x2="11" y2="18"/>
                <line x1="5" y1="12" x2="11" y2="6"/>
            </svg>
            回到主页
        </a>
    </div>
</div>

{{template "base/footer" .}}