{{template "base/header" .}}

<div class="container-tight py-6">
    <div class="empty">
        <div class="empty-header m-4"><img src="./assets/eggmd.svg"/></div>
        <div class="empty-header">EggMD</div>
        <p class="empty-title">自建共享文档服务</p>
    </div>
</div>

{{template "base/footer" .}}