</div>


<script>let shortID = '{{.Doc.ShortID}}';</script>
<script src="{{AppSubURL}}/plugins/jquery/jquery-2.1.3.js"></script>
<script src="{{AppSubURL}}/plugins/lodash/lodash.min.js"></script>
<script src="{{AppSubURL}}/plugins/markdown-it/markdown-it.min.js"></script>
<script src="{{AppSubURL}}/plugins/xss/xss.min.js"></script>
<script src="{{AppSubURL}}/js/eventemitter3.js"></script>
<script src="{{AppSubURL}}/js/codemirror/codemirror.min.js"></script>
<script src="{{AppSubURL}}/js/ot-min.js"></script>
<script src="{{AppSubURL}}/js/socket-connection-adapter.js"></script>
<script src="{{AppSubURL}}/js/socket-connection.js"></script>
<script src="{{AppSubURL}}/js/markdown.js"></script>
<script src="{{AppSubURL}}/js/editor.js"></script>


</body>
</html>
