<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    {{if not .PageIsAdmin}}
    <meta name="author" content=""/>
    <meta name="description" content=""/>
    <meta name="keywords" content="">
    {{end}}
    <meta name="referrer" content="no-referrer"/>
    <meta name="_csrf" content="{{.CSRFToken}}"/>


    <link rel="shortcut icon" href="{{AppSubURL}}/img/favicon.png"/>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{AppSubURL}}/css/markdown.css"/>
    <link rel="stylesheet" href="{{AppSubURL}}/css/tabler.min.css">
    <link rel="stylesheet" href="{{AppSubURL}}/css/tabler-vendors.min.css"/>
    <link media="all" rel="stylesheet" href="{{AppSubURL}}/css/codemirror.css">
    <link rel="stylesheet" href="{{AppSubURL}}/css/editor.css"/>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>

    <!-- JavaScript -->
    <script type="text/javascript" src="{{AppSubURL}}/js/tabler.min.js"></script>
    <script type="text/javascript" src="{{AppSubURL}}/js/bootstrap.bundle.min.js"></script>

    <title>{{if .Title}}{{.Title}} - {{end}}EggMD</title>

</head>
<body class="antialiased">
<div id="app" class="page">
    <div class="sticky-top">
        <div v-if="loading" class="progress progress-sm">
            <div class="progress-bar progress-bar-indeterminate"></div>
        </div>
        <header class="navbar navbar-expand-md navbar-light d-print-none">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="/" class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pr-0 pr-md-3">
                    <img src="/assets/eggmd.svg" width="42" height="40" alt="EggMD" class="navbar-brand-image">
                    EggMD
                </a>
                <div v-cloak class="navbar-nav flex-row order-md-last">
                    <div class="nav-item dropdown mr-3">
                        <a class="btn" data-toggle="dropdown">
                            ${['Freely', 'Editable', 'Limited', 'Locked', 'Protected', 'Private'][permission]}
                        </a>
                        <div v-show="ownerID === userID" class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                            <button class="dropdown-item" @click="setPermission(0)">Freely</button>
                            <button class="dropdown-item" @click="setPermission(1)">Editable</button>
                            <button class="dropdown-item" @click="setPermission(2)">Limited</button>
                            <button class="dropdown-item" @click="setPermission(3)">Locked</button>
                            <button class="dropdown-item" @click="setPermission(4)">Protected</button>
                            <button class="dropdown-item" @click="setPermission(5)">Private</button>
                        </div>
                    </div>

                    <div class="nav-item mr-3">
                        <a href="{{AppSubURL}}/s/{{.Doc.ShortID}}" target="_blank" class="btn">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                 stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
                                <polyline points="7 9 12 4 17 9"></polyline>
                                <line x1="12" y1="4" x2="12" y2="16"></line>
                            </svg>
                            分享
                        </a>
                    </div>

                    <div class="nav-item mr-3">
                        <div class="avatar-list avatar-list-stacked">
                            <span
                                    type="button"
                                    v-for="(user, index) in getUsers().slice(0, 5)" v-bind:key="index"
                                    class="avatar avatar-sm avatar-rounded"
                                    :style="`background-image: url(${user.avatar})`"
                            >
                                <span v-if="user.Avatar === ''">${user.name.substr(0, 2)}</span>
                            </span>
                            <span class="avatar avatar-sm avatar-rounded" v-if="getUsers().length > 5">${getUsers().length - 5}</span>
                        </div>
                    </div>

                    <div class="nav-item mr-3">
                        <span v-if="status == 'connecting'" class="badge bg-yellow-lt">CONNECTING</span>
                        <span v-if="status == 'online'" class="badge bg-blue-lt">ONLINE</span>
                        <span v-if="status == 'disconnected'" class="badge bg-red-lt">DISCONNECTED</span>
                    </div>

                    {{ if .IsLogged }}
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-toggle="dropdown">
                            <span class="avatar avatar-sm"
                                  style="background-image: url({{ .LoggedUser.Email | AvatarLink }})"></span>
                            <div class="d-none d-xl-block pl-2">
                                <div>{{.LoggedName}}</div>
                                <div class="mt-1 small text-muted">
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                            <a href="#" class="dropdown-item">个人信息</a>
                        </div>
                    </div>
                    {{ else }}
                    <div class="nav-item dropdown">
                        <div class="d-none d-xl-block pl-2">
                            <div>Guest</div>
                            <div class="mt-1 small text-muted">
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
                <div class="collapse navbar-collapse" id="navbar-menu">

                </div>
            </div>
        </header>
    </div>
