{{template "share/header" .}}
<div class="page">
    <div class="content">
        <div class="share-body container">
            <div class="row">
                <div id="markdown" class="markdown-body">
                    {{.RawHTML | Safe}}
                </div>
            </div>
        </div>
        <footer class="footer footer-transparent d-print-none">
            <div class="container">
                <div class="hr-text hr-text-right" style="margin-top: 0px;">
                    <img src="/assets/eggmd.svg" width="42" height="40" alt="EggMD" class="navbar-brand-image me-2">
                    EggMD
                </div>
                <div style="float: right;">
                    Self-hosted collaborative documents service
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
</html>
